/*--------usos---------------*/
/*=======FONT-SIZE CLASSES=======*/
.fsize10{
    font-size: 10px;
}
.fsize12{
    font-size: 12px;
}
.fsize14{
    font-size: 14px !important;
}
.fsize16{
    font-size: 16px;
}
.fsize18{
    font-size: 18px !important;
}
.fsize20{
    font-size: 20px;
}
.fsize22{
    font-size: 22px;
}
.fsize24{
    font-size: 24px;
}
.fsize26{
    font-size: 26px;
}
.fsize28{
    font-size: 28px;
}
.fsize30{
    font-size: 30px;
}
.fsize32{
    font-size: 32px;
}
.fsize34{
    font-size: 34px;
}
.fsize36{
    font-size: 36px;
}
.fsize38{
    font-size: 38px;
}
.fsize40{
    font-size: 40px;
}
.fsize42{
    font-size: 42px;
}
.fsize44{
    font-size: 44px;
}
.fsize46{
    font-size: 46px;
}
.fsize48{
    font-size: 48px;
}
.fsize50{
    font-size: 50px;
}
.fsize60{
    font-size: 60px;
}




/*=========TEXT ALIGN CLASSES=========*/
.text-center{
    text-align: center !important;
}
.text-right{
    text-align: right !important;
}
.text-left{
    text-align: left;
}
.text-justify{
    text-align: justify;
}




/*========FONT-WEIGHT CLASSES=========*/
.f100{
    font-weight: 100;
}
.f200{
    font-weight: 200;
}
.f300{
    font-weight: 300 !important;
}
.f400{
    font-weight: 400;
}
.f500{
    font-weight: 500;
}
.f600{
    font-weight: 600;
}
.f700{
    font-weight: 700;
}
.f800{
    font-weight: 800;
}
.f900{
    font-weight: 900;
}




/*=======MARGIN CLASSES========*/
.space5{
    margin-top: 5px !important;
}
.space10{
    margin-top: 10px !important;
}
.space15{
    margin-top: 15px;
}
.space20{
    margin-top: 20px;
}
.space25{
    margin-top: 25px;
}
.space30{
    margin-top: 30px;
}
.space40{
    margin-top: 40px;
}
.space50{
    margin-top: 50px;
}
.space60{
    margin-top: 60px;
}
.space70{
    margin-top: 70px;
}
.space80{
    margin-top: 80px;
}
.space90{
    margin-top: 90px;
}
.space100{
    margin-top: 100px;
}
.space130{
    margin-top: 130px;
}
.space148{
    margin-top: 148px;
}
.space150{
    margin-top: 150px;
}
.space200{
    margin-top: 200px;
}
.mbtm10{
    margin-bottom: 10px;
}
.mbtm20{
    margin-bottom: 20px;
}
.mbtm30{
    margin-bottom: 30px;
}
.mbtm40{
    margin-bottom: 40px;
}
.mbtm50{
    margin-bottom: 50px;
}
.mbtm60{
    margin-bottom: 60px;
}
.mbtm70{
    margin-bottom: 70px;
}
.mbtm80{
    margin-bottom: 80px;
}
.mbtm90{
    margin-bottom: 90px;
}
.mbtm100{
    margin-bottom: 100px;
}
.m0{
    margin: 0;
}
.mbtm0{
    margin-bottom: 0px;
}
.mleft10{
    margin-left:10px;
}
.mright10{
    margin-right:10px;
}
.mright30{
    margin-right:30px;
}
.mauto{
    margin: 0px auto !important;
}
.mautomargin{
    margin: 40px auto !important;
}
.marginR{
    margin-right: 40px;
    text-align: center;
    margin-left: 35px;
}
.marginL{
    margin-left: 50px;
}
.margin-right{
    margin-right: 307px;
}
.marginL14{
    margin-left: 14%;
}
.mtop100{
    margin-top: -100px;
}
.border-btm{
    border-bottom: 1px solid #fff;
}

.height{
    height: 100px;
}
/*========PADDING CLASSES========*/
.pad0{
    padding: 0px !important;
}
.pad10{
    padding: 10px !important;
}
.pad20{
    padding: 20px;
}
.pad30{
    padding: 30px;
}
.pad40{
    padding: 40px;
}
.pad50{
    padding: 50px;
}
.pad60{
    padding: 60px;
}
.pad70{
    padding: 70px;
}
.pad80{
    padding: 80px;
}
.pad90{
    padding: 90px;
}
.pad100{
    padding: 100px;
}
.padleft0{
    padding-left: 0px !important;
}
.padright0{
    padding-right: 0px !important;
}
.padtop0{
    padding-top: 0px !important;        
}
.padbottom0{
    padding-bottom: 0px !important;     
}
.padbottom100{
    padding-bottom: 100px !important;       
}
.padbottom60{
    padding-bottom: 60px !important;        
}

/*--------usos---------------*/

body{
	overflow-x:hidden;
}
.fondo-banner{

	object-fit: cover;
    width: 100%;
}
.logo-giani{
	margin-left: 15px;
}

nav ul li{
	margin-right: 20px;
}

nav ul li a{
	text-decoration: none;
	color: black;
}

div ul li a{
	text-decoration: none;
	color: #86A887;
}
.primer-list{
	font-size: 23px;
	text-align: center;
}
.navbar-nav.navbar-right:last-child{
	margin-right: 0px!important;
}


.segund-list{
	 list-style:none;
     margin-right: 30px;
}

.btn-buscar{
    display: table-cell;
    vertical-align: middle;
    top: 280px;
    position: absolute;
}

.nav-color{
	background-color: #B6C9B9;

}

.text-white{
	text-decoration: none;
	color: white!important;
}

.cont-img{
	width: 100%;
}


/*detalle de productos*/

.detall-prod{
	width: 100%;
	object-fit:cover;
	height: auto;
	object-position:50% 50%;
}

.nav-talla{
	border:1px solid black;
	float: left;
	margin-top: 20px;
}

.btn-detal-prod{
	background-color: #A1B594;
}
.btn-info.active{
	background-color: #A2B695;
	border:#A2B695;
	margin-top: 20px;
	padding: 20px;
	border-radius: inherit;
}

.color-indic>li>a {
	color: white;
}

.filtro ul li a{
	color: white;
	text-decoration: none
}

/*pedidos*/
.text-pedid{
	width: 709px;
    text-align: center;
    margin: 0 auto;
    color: #86A887;
}
.descrip-zap{
	vertical-align: middle;
	display: table-cell;
	position: relative;
	top: 80px;
}

.btn-ttc{
	background-color: #9EC2A9!important;
	font-size: 20px;
	font-weight: bolder;

}
.img-atras{
    position: relative;
    left: 20px;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

nav ul li {
	margin-right: -15px;
}

.segund-list {
	margin-right: 10px;
	margin-top: 10px;
}

.btn-buscar{
	top: 120px;
}

/*detalle del productos*/
.nav-talla {
	font-size: 10px;
	right:20px;
}
.text-1{
	font-size: 25px;
}
.detall-prod {
	margin-top: 70px;
}
/*.btn-info.active{
	position: relative;
    right: 50px;*/
}

}